<h2>Login</h2>

<form action="/auth/login" method="POST" id="login-form">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Enter username">


  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Enter password">

  <button>Log in</button>


  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>