<h2>Sign up</h2>

<form action="/auth/signup" method="POST" id="signup-form">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Choose username">

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Min 8 characters">

  <button>Sign up</button>

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <p class="account-message">
    Already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>