<div class="container index">
  <div class="container background">

  </div>

  <div class="container feature-container">
    <div class="row feature-row">
      <div class="feature-el col-sm-12 col-md-4">
        <h4>Find movies</h4>
        <p>Browse the Netflix movie selection by genre to find the highest rated movies.
        </p>
      </div>
      <div class="feature-el col-sm-12 col-md-4">
        <h4>Connect with friends</h4>
        <p>Follow your friends - share your favorite movies and get inspired by theirs.
        </p>
      </div>
      <div class="feature-el col-sm-12 col-md-4">
        <h4>Get inspired</h4>
        <p>Discover new movies and genres by our Netflix suggestions.
        </p>
      </div>
    </div>
  </div>
</div>