<div>
<form action="/movies/search" method="post" class="searchform">

  <p>Select Your Favorite Genres</p>
  <select class="selectpicker p-4" multiple="multiple" id="myMulti" name="genre">
    <option value="All Action">Action</option>
    <option value="All Comedies">Comedy</option>
    <option value="All Dramas">Drama</option>
    <option value="All Horror">Horror</option>
    <option value="All Romance">Romantic</option>
    <option value="All Musicals">Musicals</option>
    <option value="All Sci-Fi">Sci-Fi</option>
    <option value="All Documentaries">Documentaries</option>
    <option value="All Classics">Classics</option>


  </select>
  <button class="btn-movie" type="submit">Find Top Movies</button>
</form>

</div>
