<div>
<form action="/movies/search" method="post" class="searchform">

  <p>Select Categories</p>
  <select multiple="multiple" class="genres" id="myMulti" name="genre">
    <option value="All Action">Action</option>
    <option value="All Comedies">Comedy</option>
    <option value="All Dramas">Drama</option>
    <option value="All Horror">Horror</option>
    <option value="All Romance">Romantic</option>

  </select>
  <button type="submit">Search</button>
</form>

</div>
