<form action="/movies/search/results" method="post">

  <p>Select Categories</p>
  <select multiple="multiple" class="genres" id="myMulti" name="genre">
    <option value="All Action">Action</option>
    <option value="All Comedies">Comedy</option>
    <option value="All Dramas">Drama</option>
    <option value="All Horrors">Horror</option>
    <option value="All Romantics">Romantic</option>

  </select>
  <button type="submit">Search</button>
</form>


<script src="/javascripts/NetflixAPI.js" charset="utf-8"></script>