<section>
  <p>Select Categories</p>
  <select multiple="multiple" class="genres" id="myMulti">
    <option value="0">Action</option>
    <option value="1">Comedy</option>
    <option value="2">Drama</option>
    <option value="3">Horror</option>
    <option value="4">Romantic</option>

  </select>
  <button type="submit">Search</button>
</section>