<div class="card my-profile" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">{{user.username}}'s profile</h4>
  </div>
  <div class="list-group list-group-flush">
    {{#if user.watchlist}}
    <h5 class="list-group-item">On my watch list:</h5>
    <ul>
      {{#each user.watchlist}}
      <li><a href="">{{title}}</a></li>
      {{/each}}
    </ul>
    {{/if}}
    {{#if user.seen}}
    <h5 class="list-group-item">Movies I've seen:</h5>
    <ul>
      {{#each user.seen}}
      <li><a href="">{{title}}</a></li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>