body {
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: black; }

/*-----------------------------------------*/
.index {
  display: flex;
  flex-direction: column;
  align-items: center; }

.background {
  background-image: url("../images/Banner.jpg");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white; }

.feature-container {
  display: flex;
  flex-direction: row;
  margin: 50px; }

.feature-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid orange;
  border-radius: 10px;
  margin: 5px; }

.feature-el p {
  text-align: center; }

.feature-el h4 {
  height: 60px;
  text-align: center;
  padding-bottom: 10px;
  margin: 10px;
  align-items: center; }

/*-----------------------------------------*/
.signup-login-container {
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white; }

.signup-login-container h3 {
  text-align: center;
  margin-top: 30px; }

.signup-login-container .account-message {
  text-align: center;
  margin-top: 40px; }

.signup-login-form {
  display: flex;
  flex-direction: column; }

.signup-login-form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px; }

.signup-login-form .form-group {
  width: 300px; }

.my-profile {
  margin: 30px; }

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  padding: 10px;
  background-color: black;
  color: white; }

.btn-movie {
  background-color: #e50914;
  padding: 1vh 1.5vh;
  border-radius: 10px;
  color: white;
  border: 0; }
  .btn-movie:hover {
    color: white; }

.synopsis {
  display: flex;
  align-items: center;
  margin: 8px;
  text-align: center;
  font-size: 0.8rem; }

.movies-info {
  display: flex;
  flex-direction: column;
  align-items: center; }

.description {
  display: flex;
  align-items: center;
  margin-top: 1vh; }

.description p {
  text-align: center; }

.feature {
  padding: 3vh 5vh;
  text-align: center;
  color: white; }

.featureimg {
  width: 40%;
  border-radius: 20px;
  margin: 10px; }

.searchform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80vh; }

.headerBanner {
  width: 40%; }

h1 {
  text-align: center; }

.btn-movie-result {
  background-color: #e50914;
  padding: 1vh 1.5vh;
  border-radius: 10px;
  color: white;
  border: 0; }
  .btn-movie-result:hover {
    color: white; }

.netfliximg {
  width: 90px;
  border-radius: 10px; }

.btnnetflix {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2vh; }

.bigcom {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 3vh; }

.my-profile {
  display: flex;
  background-color: black; }

.my-profile li a:not([href]) {
  color: #e50914; }
  .my-profile li a:not([href]):hover {
    color: #e50914; }

.my-profile li a {
  color: #e50914; }

.person a {
  color: #e50914; }

.my-profile h4 {
  color: #BEBABA; }

.list-group-item {
  background-color: black;
  color: #BEBABA; }

.profile-block ul li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  width: 65%; }

.profile-block a {
  margin: 10px 0 10px 0px; }

.profile-block button {
  display: flex;
  color: gray;
  font-size: 0.7em;
  margin: 10px 5px 10px 0px;
  width: 20%;
  background-color: black;
  border: 0; }

.movieDiv {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*# sourceMappingURL=style.css.map */